body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    min-height: 100%;
}
img {
    display: block;
}
p {
    line-height: 1.75;
    margin: .5rem 0;
}
a,
a:active,
a:visited {
    color: #e96025;
}
h1,
h1 a,
h1 a:visited,
h1 a:active {
    color: #fff;
    font-size: 2.25rem;
    font-family: 'Lora', serif;
    text-transform: uppercase;
    text-decoration: none;
}
h2,
h2 a,
h2 a:visited,
h2 a:active,
h3 {
    color: #e96025;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    line-height: 1;
    margin: .5rem 0;
    text-decoration: none;
}
h3 {
    font-size: 1.25rem;
}
iframe {
    height: 625px;
    width: 100%;
}
time {
    font-size: .8rem;
    font-style: italic;
}
.container {
    position: relative;
}
.content-container {
    margin: 0 auto;
    padding: 1rem 1.25rem;
    width: 100%;
}
.panel:first-child {
    align-items: center;
    background-color: #e96025;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 33.333%;
}
.panel:last-child {
    float: right;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 66.666%;
}
