.loader {
    display: inline-block;
    height: 100px;
    margin: 0 0 2em;
    margin: 0 auto 1em;
    padding: 1em;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.loader path,
.loader rect {
    fill: #E96126;
}
