nav {
    display: block;
    width: 100%;
}
nav ul {
    align-content: space-between;
    display: flex;
    justify-content: space-around;
    padding: 0 1.5rem;
    width: 100%;
}
nav a,
nav a:visited {
    color: #fff;
}
a.nav-link {
    display: block;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-align: center;
    text-decoration: none;
}
a.nav-link:after {
    background: #fff;
    content: '';
    display: block;
    height: 1px;
    margin-top: .25rem;
    position: absolute;
    left: 50%;
    transition: all .25s ease;
    width: 0;
}
a.nav-link:hover:after,
a.nav-link.active:after {
    left: 0;
    width: 100%;
}
@media screen and (min-width: 320px) {
    a.nav-link {
        padding: .75rem .25rem;
    }
}
@media screen and (min-width: 800px) {
    nav ul {
        align-content: space-between;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen and (min-width: 1165px) {
    nav ul {
        align-content: space-between;
        flex-direction: row;
        justify-content: space-around;
    }
    a.nav-link {
        padding: 1.25rem .25rem 0 .25rem;
    }
}
